@use '@vrx/color-picker-kit-style/scss/index.scss' as kit
  with(
    $vrx-color-picker-border: var(--vp-c-bg-alt),
    $vrx-color-picker-block-rounded: 4px,
    $prefix: ant-color-picker,
    $vrx-color-picker-dot: var(--vp-c-bg),
    $vrx-color-picker-dot-size: 12px,
    $vrx-color-picker-slider-size: 8px,
    $vrx-color-picker-block-size: 30px
  );
.#{kit.$prefix} {
  width: 223px;
  padding: 12px;
  box-shadow: kit.$vrx-color-picker-shadow;
  border-radius: kit.$vrx-color-picker-block-rounded;
  .#{kit.$prefix}-palette {
    height: 160px;
    border-radius: 4px;
    margin-bottom: 12px;
  }
  .#{kit.$prefix}-control-wrapper {
    display: flex;
  }
  .#{kit.$prefix}-slider-group {
    flex: 1;
    min-width: 0;
    margin-right: 10px;
  }

  .#{kit.$prefix}-hue-slider {
    margin-bottom: 12px;
  }
}
